h1{
	color: blue;
	text-align: center;
}

h2{
	color:black;
	text-align: center;
	
}

p{
	color: green;
}


table{
	border: 2px solid black;
	border-collapse: collapse;
	width: 50%;
}
th,td{
	border: 1px solid black;
	text-align: center;
}
#top{
	height: 30%;
	background-color: black;

	}
#middle{
	height: 50%;
	
}
#bottom{
	height: 20%;
	
}